


.dark {
    background-color: #212529;
    color: white;
}

.light {
    background-color: white;
    color: rgb(62, 58, 58);
}
.paragraph{
    position: absolute;
    top: 35%;
    color: #212529;
    left: 23%;
    font-size: 2rem;
    font-weight: bold;
}