
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem auto;
    max-width: 80%;
}
.dark{
    background-color: #212529;
    color: white;
}
.dark .page p{
    background-color: #333;
    color: #c6b0b0;
    
}

.page img {
    width: 14rem;
    height: auto;
    box-shadow: 3px 5px 3px 0.1rem   #9f9898;
    object-fit: cover;
    border-radius: 0.5rem;
}

.page h1 {
    font-family: 'Fantasy', cursive;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.description {
    margin: 1rem 0;
    text-align: center;
    color: #333;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 65%;
    line-height: 1.5;
}

.price {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 1rem;
    background-color: goldenrod;
    padding: 20px 10px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
}

button {
    background-color: rgb(120, 77, 255);
    color: black;
    padding: 8px 12px;
    color: #f9f9f9;
    font-weight: 700;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

button:hover {
    background-color: rgb(150, 90, 255);
}

.backButton{
    background-color: rgb(13, 105, 255);
    margin-right: 0.8rem;
}
.backButton a{
    color: #ddd;
    text-decoration: none;
}
.backButton:hover{
    background-color: rgb(103, 165, 255);
}
