/* styles.css */
body {
    transition: background-color 0.3s, color 0.3s !important;
}

body.light {
    background-color: #ffffff !important;
    color: #000000;
}

body.dark {
    background-color: #121212 !important;
    color: #ffffff !important;
}